@import url(./vendor/normalize.css);
@import url(./vendor/fonts/montserrat.css);


.page {
  font-family: Montserrat, Arial, sans-serif;
}

.header {
  height: 63px;
  width: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  justify-content: flex-start;
  margin-left: 50px;
}

.header__navigation {
  justify-content: center;
  flex-direction: row;
}

.header__navigation-element {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 0 17px 0 17px;
  border-right: 1px solid rgba(255, 255, 255, 0.19);
  text-decoration: none;
}

.header__navigation-element:last-of-type {
  border-right: none;
}

.header__right-items {
  display: flex;
  flex-direction: row;
}

.header__register {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 50px;
}

.header__register-button {
  background: linear-gradient(180deg, #207649 0%, #0F6337 100%);
  box-shadow: 0px 4px 25px rgba(22, 107, 62, 0.3);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  padding: 0;
  width: 173px;
  height: 39px;
  margin-right: 17px;
  cursor: pointer;
  color: #fff;
}

.header__register-input {
  background-color: #202020;
  border: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, .8);
}

.header__user-icon {
  background: transparent;
  margin-right: 20px;
}

.header__mag-glass {
  background: transparent;
  margin-left: -17px;
}

.top-streams {
  max-width: 1037px;
  margin: 60px 62px 71px 50px;
}

.top-streams__title {
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 20px;
}

.top-streams__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.top-streams__elem {
  width: 339px;
  height: 333px;
}

.top-streams__date {
  margin: 15px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.top-streams__sport {
  padding-left: 12px;
}

.top-streams__sport {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.top-streams__price {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: #1A6F43;
}

.top-streams__description {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 149.9%;
  color: #000000;
}

.translations-container {
  display: flex;
  flex-direction: column;
}

.translations {
  width: 451px;
  background: #F9F9F9;
  position: absolute;
  top: 93px;
  align-self: flex-end;
}

.translations__title {
  margin: 30px 0 32px 35px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.btn-no-style {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.translations__date-choose {
  margin-left: 35px;
}

.translations__date-choose-btn_type_today {
  margin: 0 18px 22px;
  font-weight: 800;
  color: #000000;
}

.translations__date-choose-font-style {
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
}

.translations__date-choose-btn_type_calendar {
  margin-left: 34px;
  font-style: normal;
  font-weight: 500;
  color: #1A7043;
}

.translations__calendar-icon {
  padding-right: 8px;
}

.translations__sport-choose {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.translations__sport-chose-btn_type_all {
  margin-left: 35px;
}

.translations__sport-choose-btn-font-style {
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
}

.translations__sport-chose-btn_type_football {
  margin: 20px 25px;
  border-top: 2px solid #1A6F43;
  font-weight: 800;
  color: #1A6F43;
}

.matches {
  display: flex;
  flex-direction: column;
}

.matches__title {
  margin: 25px 0 20px 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.match {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.match:last-of-type {
  margin-bottom: 30px;
}

.match__indicator {
  width: 14px;
  height: 14px;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}

.match__indicator_color_red {
  background: #DC0000;
}

.teams-font-style {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.match__time {
  margin: 0 41px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.match__dash {
  margin: 0 22px;
}

.match__team1 {
  margin-right: 7px;
}

.match__team2 {
  margin-left: 7px;
}

.translations__list-btn {
  width: 245px;
  height: 43px;
  background: linear-gradient(180deg, #207649 0%, #0F6337 100%);
  box-shadow: 0px 4px 25px rgba(22, 107, 62, 0.3);
  margin: 0 103px 30px;
}

.translations__list-btn-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.popup-reg {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility .5s, opacity 0.5s linear;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(5px);
}

.popup-reg__container {
  width: 729px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-reg__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
  text-align: center;
}

.popup-reg__form {
  width: 521px;
  display: flex;
  flex-direction: column;
}

.popup-log__form {
  width: 521px;
  display: flex;
  flex-direction: column;
}

.popup-reg__form-styles {
  width: 521px;
  height: 73px;
  background-color: #fff;
  padding: 0;
  border: none;
  margin-bottom: 10px;
}

.popup-reg__form-styles:last-of-type {
  margin-bottom: 0;
}

.popup-reg__google {
  background-color: #D74C31;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: 521px;
  height: 73px;
  margin-bottom: 10px;
}

.popup-reg__reg-btn {
  width: 521px;
  height: 73px;
  background: linear-gradient(180deg, #207649 0%, #0F6337 100%);
  box-shadow: 0px 4px 25px rgba(22, 107, 62, 0.3);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin: 15px 0 12px;
}

.popup-reg__login {
  text-decoration: underline;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  text-align: start;
}

.popup-log {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility .5s, opacity 0.5s linear;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(5px);
}

.popup-log__container {
  width: 729px;
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-log__register {
  text-decoration: underline;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  text-align: start;
}

.popup_active {
  visibility: visible;
  opacity: 1;
}

.footer {
  background: #202020;
  width: 100%;
  height: 174px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 154px;
  height: 65px;
}

.footer__navigation {
  margin-right: 100px;
}

.news {
  max-width: 1037px;
  margin-left: 50px;
}

.news__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  margin: 0 0 20px 0;
}

.news__sport-choose {
  border: none;
  margin: 0 0 25px 0;
}

.news__sport-chose-btn-style {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.news__sport-chose-btn_type_football {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.news__grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px 234px;
  grid-template-areas:
    "large large"
    "medium1 medium2";
  gap: 10px;
  margin-bottom: 122px;
}

.news__large-post {
  grid-area: large;
}

.news__large-post-title {
  margin-top: -100px;
  width: 100%;
  height: 88px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  font-weight: 700;
  font-size: 18px;
  line-height: 88px;
  text-align: center;
  color: #FFFFFF;
}

.news__medium-post1 {
  grid-area: medium1;
}

.news__medium-post2 {
  grid-area: medium2;
}

.news__date-n-sport {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.news__date {
  margin: 15px 12px 14px 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.news__sport {
  margin: 15px 0 14px 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.news__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 149.9%;
  color: #000000;
}

.news__description_type_small-post {
  font-weight: 300;
  font-size: 13px;
  line-height: 157.9%;
}

.news__grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  grid-template-rows: repeat(auto-fit, 333px);
  grid-auto-flow: row;
  gap: 30px 8px;
  margin-bottom: 70px;
}
